<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body ng-app="main.module" ng-class="{ 'dark-bg': $root.darkBg }">
    <header-page ng-if="!$root.hideHeader"></header-page>
    <div ng-class="{ 'container': !$root.noContainer }">
        <div ng-view></div>
    </div>
    <footer ng-if="!$root.hideFooter"></footer>
</body>

<script src="js/lib.min.js"></script>

<script src="js/app.config.js"></script>

<script src="js/app.min.js"></script>
<script src="js/templates.min.js"></script>
</html>