<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
</head>
<body ng-app="main.module" ng-class="{ 'dark-bg': $root.darkBg }">
<div class="container-wrapper">
    <header-page ng-if="!$root.hideHeader"></header-page>
    <div id="root-container" ng-class="{ 'container': !$root.noContainer }">
        <div ng-view></div>
    </div>
    <footer-page class="footer-wrap container" ng-if="!$root.hideFooter"></footer-page>
</div>
</body>

<script src="js/lib.min.js"></script>

<script src="js/config.js"></script>

<script src="js/app.min.js"></script>
<script src="js/templates.min.js"></script>
</html>